/* reset básico */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ol ol,ul ol{
    list-style-type:lower-roman
    }

ul ul ol,ul ol ol,ol ul ol,ol ol ol{
    list-style-type:lower-alpha
    }

body{
        background: #c27ba0ff ;
        font-family: 'Special Elite', cursive;
        font-size: 15px;
        line-height:1.5;
        color:#24292e;
    }
    

a{
    color:#0366d6;text-decoration:none
    }

a:hover{
        text-decoration:underline
    }


b,strong{
    font-weight:600
    }

hr,.rule{
    height:0;
    margin:15px 0;
    overflow:hidden;
    background:transparent;
    border:0;
    border-bottom:1px solid #dfe2e5
    }

hr::before,.rule::before{
    display:table;content:""
    }

hr::after,.rule::after{
    display:table;clear:both;content:""
    }

img.bio{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
    width: 100px;
}
/* conteiner */
.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    background:#c27ba0ff;
}
    @media (min-width: 1170px) {
        .container {
            max-width: 1000px;
            padding: 0;
            background: #c27ba0ff ;
        }
    }

/* linha */
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

/* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
    /* duas colonas */
    @media (min-width: 400px) {
        .col-2 {
            width: 50%;

        }
    }

    /* tres colunas */
    @media (min-width: 728px) {
        .col-3 {
            width: 33.3333%;
        }
    }

    /* quatro colunas */
    @media (min-width: 1000px) {
        .col-4 {
            width: 25%;
        }
    }

    /* sidebar */
    @media (min-width: 992px) {
        .col-content {
            width: 60%;
        }

        .col-sidebar {
           width: 40%;
        }
    }


/* Div internas */
.conteudo {
    background: #d4c3d4;
    padding: 35px;
    margin: 5px 0;
    color: #000;
    
}

.aviso {
    background: #dbcccc;
    padding: 6px;
    margin: 5px 0;
    color: #000;
    font-family: 'Bangers', sans-serif;
    
}

.menu {
    background: #d6c9d6;
    padding: 5px;
    margin: 5px 0;
    color: #000;
    font-family: 'Oswald', sans-serif;
}
.realizacaoes {
    height: 50px;
    font-family: 'Bangers', cursive;
    font-size: 30px;
}
.assinatura{

    font-family: 'Great Vibes', cursive;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color:rgb(114, 103, 109)
}

a.botao{
    background-color: seagreen;
    font-family: 'Special Elite', cursive;
    margin: 20px;
    
    text-align: center;
    padding: 5px;
    color: #fff;
    }